In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("./data-cleaned/scattermap_points.csv", index_col=0)

In [5]:
df.head()

,Unnamed: 0,name,localidad,latitude,longitude,type,color
0,0,Andino,CHAPINERO,4.666848,-74.052573,Centro Comercial,#35BEAD
1,1,Apolo,SANTA FE,4.603366,-74.074394,Centro Comercial,#35BEAD
2,2,Asturias de Oviedo,MUNICIPIOS ALEDAÑOS,4.820529,-74.074463,Centro Comercial,#35BEAD
3,3,Avenida 19,SANTA FE,4.606337,-74.073560,Centro Comercial,#35BEAD
4,4,Bahia,SUBA,4.707418,-74.070902,Centro Comercial,#35BEAD

In [23]:
df['color'].replace({'#35BEAD':'#5c059e'}, inplace=True)

In [24]:
df['color'].unique()

array(['#5c059e', '#EB0064', '#00B4EB'], dtype=object)

In [11]:
df['color'].unique()

array(['#35BEAD', '#EB0064', '#00B4EB'], dtype=object)

In [10]:
df.to_csv("./data-cleaned/scattermap_points.csv", index=False)