In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("./data-cleaned/scattermap_points.csv", index_col=0)

In [4]:
df.head()

,name,localidad,latitude,longitude,type,color
0,Andino,CHAPINERO,4.666848,-74.052573,Centro Comercial,#5c059e
1,Apolo,SANTA FE,4.603366,-74.074394,Centro Comercial,#5c059e
2,Asturias de Oviedo,MUNICIPIOS ALEDAÑOS,4.820529,-74.074463,Centro Comercial,#5c059e
3,Avenida 19,SANTA FE,4.606337,-74.073560,Centro Comercial,#5c059e
4,Bahia,SUBA,4.707418,-74.070902,Centro Comercial,#5c059e

In [5]:
df['color'].replace({'#35BEAD':'#5c059e'}, inplace=True)

In [6]:
df['color'].unique()

array(['#5c059e', '#00B4EB', '#FDAF43', '#EB0064', '#6ee314'],
      dtype=object)

In [7]:
df['color'].unique()

array(['#5c059e', '#00B4EB', '#FDAF43', '#EB0064', '#6ee314'],
      dtype=object)

In [8]:
#df.to_csv("./data-cleaned/scattermap_points.csv", index=False)

# This part is to make the changes and add the hotels

In [9]:
df_hoteles = pd.read_excel("./data/extracción.xlsx")
df_scatter = pd.read_csv("./data-cleaned/scattermap_points.csv", index_col=0)
df_scatter = df_scatter.reset_index(drop=True)

In [10]:
df_scatter.head(5)

,name,localidad,latitude,longitude,type,color
0,Andino,CHAPINERO,4.666848,-74.052573,Centro Comercial,#5c059e
1,Apolo,SANTA FE,4.603366,-74.074394,Centro Comercial,#5c059e
2,Asturias de Oviedo,MUNICIPIOS ALEDAÑOS,4.820529,-74.074463,Centro Comercial,#5c059e
3,Avenida 19,SANTA FE,4.606337,-74.073560,Centro Comercial,#5c059e
4,Bahia,SUBA,4.707418,-74.070902,Centro Comercial,#5c059e

In [11]:
df_hoteles.head(5)

,Precio Total,Total Reseñas,Dirección,Servicios,Caracteristicas Habitación,Estrellas,Calificación Gen,Cal ubicacion,Cal limpieza,Cal servicio,Cal Calidad,LATITUDE,LONGITUDE,LOCALIDAD,Nombre hoteles
0,783062,1335,"Calle 24A # 57-60, Bogotá 111321 Colombia",Estacionamiento gratis ; Internet de alta velo...,Estacionamiento gratis ; Internet de alta velo...,4.0,5.0,4.5,5,4.5,4.5,4.645491,-74.101017,TEUSAQUILLO,1. Grand Hyatt Bogotá
1,339502,374,"Carrera 13a #93-51, Bogotá 110221 Colombia",Estacionamiento gratis ; Internet de alta velo...,Estacionamiento gratis ; Internet de alta velo...,4.5,5.0,5,5,5,4.5,4.672252,-74.052750,CHAPINERO,2. 93 Luxury Suites & Residences
2,290818,488,"Carrera 82 # 25G 84, Bogotá 110931 Colombia",Estacionamiento gratis ; Internet de alta velo...,Estacionamiento gratis ; Internet de alta velo...,3.5,4.5,4.5,5,4.5,4.5,4.673258,-74.117432,FONTIBON,3. Hilton Garden Inn Bogota Airport
3,200533,925,"Avenida 15 # 103-60, Bogotá 110111 Colombia",Estacionamiento gratis ; Internet de alta velo...,Estacionamiento gratis ; Internet de alta velo...,4.5,4.5,4,4.5,4.5,4,4.690528,-74.045960,USAQUEN,4. Hotel Dann Carlton Bogota
4,187740,1216,"Avenida Calle 24, #51 40, Bogotá 111321-251 Co...",Estacionamiento gratis ; Internet de alta velo...,Estacionamiento gratis ; Internet de alta velo...,4.0,4.5,4.5,4.5,4.5,4.5,4.649071,-74.105968,TEUSAQUILLO,5. TRYP by Wyndham Bogota Embajada

In [12]:
df_hotelesscatter = pd.concat([df_hoteles['Nombre hoteles'], 
                        df_hoteles['LOCALIDAD'], 
                        df_hoteles['LATITUDE'], 
                        df_hoteles['LONGITUDE']], 
                        axis=1)

In [13]:
df_hotelesscatter['type'] = 'Hotel'
df_hotelesscatter['color'] = '#6ee314'

In [14]:
df_hotelesscatter.columns = df_scatter.columns

In [15]:
df_hotelesscatter
df_result = pd.concat([df_scatter, df_hotelesscatter], axis=0)
df_result = df_result.reset_index(drop=True)

In [16]:
df_result['latitude'] = pd.to_numeric(df_result['latitude'])
df_result['longitude'] = pd.to_numeric(df_result['longitude'])

In [17]:
#df_result.to_csv('./data-cleaned/scattermap_points.csv')

In [18]:
df_result

,name,localidad,latitude,longitude,type,color
0,Andino,CHAPINERO,4.666848,-74.052573,Centro Comercial,#5c059e
1,Apolo,SANTA FE,4.603366,-74.074394,Centro Comercial,#5c059e
2,Asturias de Oviedo,MUNICIPIOS ALEDAÑOS,4.820529,-74.074463,Centro Comercial,#5c059e
3,Avenida 19,SANTA FE,4.606337,-74.073560,Centro Comercial,#5c059e
4,Bahia,SUBA,4.707418,-74.070902,Centro Comercial,#5c059e
...,...,...,...,...,...,...
1155,176. Hotel Risot,TEUSAQUILLO,4.639370,-74.098619,Hotel,#6ee314
1156,177. Hotel Grand Plaza Corferias,TEUSAQUILLO,4.631063,-74.094966,Hotel,#6ee314
1157,178. Hotel Blue Zafiro,TEUSAQUILLO,4.625811,-74.084476,Hotel,#6ee314
1158,179. Ayenda 1024 Agora Inn,TEUSAQUILLO,4.634864,-74.095978,Hotel,#6ee314
1159,180. Hotel Ejecutivo Esperanza,TEUSAQUILLO,4.644889,-74.102526,Hotel,#6ee314

In [19]:
df_result['localidad'].unique()

array(['CHAPINERO', 'SANTA FE', 'MUNICIPIOS ALEDAÑOS', 'SUBA',
       'TEUSAQUILLO', 'SAN CRISTOBAL', 'KENNEDY', 'PUENTE ARANDA',
       'USAQUEN', 'CANDELARIA', 'ANTONIO NARIÑO', 'ENGATIVA',
       'TUNJUELITO', 'LOS MARTIRES', 'FONTIBON', 'BARRIOS UNIDOS', 'BOSA',
       'USME', 'CIUDAD BOLIVAR', 'SUMAPAZ', 'RAFAEL URIBE URIBE'],
      dtype=object)

In [20]:
list(df_result['localidad'].unique())

['CHAPINERO',
 'SANTA FE',
 'MUNICIPIOS ALEDAÑOS',
 'SUBA',
 'TEUSAQUILLO',
 'SAN CRISTOBAL',
 'KENNEDY',
 'PUENTE ARANDA',
 'USAQUEN',
 'CANDELARIA',
 'ANTONIO NARIÑO',
 'ENGATIVA',
 'TUNJUELITO',
 'LOS MARTIRES',
 'FONTIBON',
 'BARRIOS UNIDOS',
 'BOSA',
 'USME',
 'CIUDAD BOLIVAR',
 'SUMAPAZ',
 'RAFAEL URIBE URIBE']

In [21]:
df_result[df_result['localidad'].isna()]

Empty DataFrame
Columns: [name, localidad, latitude, longitude, type, color]
Index: []

In [22]:
df_result.loc[859, 'localidad'] = 'CHAPINERO'
df_result.loc[859, 'latitude'] = 4.652463
df_result.loc[859, 'longitude'] = -74.056494

In [23]:
df_hoteles[df_hoteles['Nombre hoteles'] == '60. Four Seasons Hotel Casa Medina Bogota']

,Precio Total,Total Reseñas,Dirección,Servicios,Caracteristicas Habitación,Estrellas,Calificación Gen,Cal ubicacion,Cal limpieza,Cal servicio,Cal Calidad,LATITUDE,LONGITUDE,LOCALIDAD,Nombre hoteles
59,1227125,631,"Avenida Carrera 7 #69A-22 Cundinamarca, Bogotá...",Estacionamiento con servicio de valet ; Intern...,Estacionamiento con servicio de valet ; Intern...,5.0,4.5,4.5,5,4.5,4.5,4.652463,-74.056494,CHAPINERO,60. Four Seasons Hotel Casa Medina Bogota

In [24]:
df_hoteles.loc[59, 'LOCALIDAD'] = 'CHAPINERO'
df_hoteles.loc[59, 'LATITUDE'] = 4.652463
df_hoteles.loc[59, 'LONGITUDE'] = -74.056494

In [25]:
df_hoteles[df_hoteles['Nombre hoteles'] == '60. Four Seasons Hotel Casa Medina Bogota']

,Precio Total,Total Reseñas,Dirección,Servicios,Caracteristicas Habitación,Estrellas,Calificación Gen,Cal ubicacion,Cal limpieza,Cal servicio,Cal Calidad,LATITUDE,LONGITUDE,LOCALIDAD,Nombre hoteles
59,1227125,631,"Avenida Carrera 7 #69A-22 Cundinamarca, Bogotá...",Estacionamiento con servicio de valet ; Intern...,Estacionamiento con servicio de valet ; Intern...,5.0,4.5,4.5,5,4.5,4.5,4.652463,-74.056494,CHAPINERO,60. Four Seasons Hotel Casa Medina Bogota

In [26]:
#df_hoteles.to_excel("./data/extracción.xlsx", index=False)

In [27]:
df_kpis = pd.read_csv('./data-cleaned/localidades_properties.csv', index_col=0)

In [28]:
df_kpis

,name,center_coordinates,zoom,kpi_crime,number_of_touristic_attractions,Hotel_mean_price
0,CIUDAD BOLIVAR,"[4.482460265935783, -74.16195890440652]",10.0,3137,2,$ 84.382
1,SUBA,"[4.763208121309928, -74.0758452755469]",10.5,6640,15,$ 199.249
2,RAFAEL URIBE URIBE,"[4.566476900860273, -74.11336318293525]",12.0,2428,0,$ 164.493
3,KENNEDY,"[4.6303473513560895, -74.15266762383382]",12.0,7187,11,$ 180.241
4,LOS MARTIRES,"[4.607155934954456, -74.08794786812679]",13.0,2549,16,$ 199.535.
5,SANTA FE,"[4.593972728724716, -74.0362175815148]",11.5,3099,92,$ 123.896
6,BARRIOS UNIDOS,"[4.669566933458008, -74.07355160510068]",12.0,2706,13,$ 168.478
7,FONTIBON,"[4.678182925952192, -74.14015130074624]",12.0,4128,21,$ 195.151
8,ENGATIVA,"[4.701125563272901, -74.113187703298]",11.0,6709,10,$ 195.121
9,CANDELARIA,"[4.596605075136378, -74.07207079532802]",13.0,561,113,$ 107.004
10,CHAPINERO,"[4.644982720078637, -74.03688302787386]",11.5,4824,41,$ 293.346
11,ANTONIO NARIÑO,"[4.588770674796082, -74.10284240061449]",12.0,1519,2,$ 337.271
12,TEUSAQUILLO,"[4.641173586592107, -74.08576901958143]",12.0,3196,49,$ 196.588
13,SAN CRISTOBAL,"[4.548749008988841, -74.06607256050648]",11.5,2005,8,$ 154.538
14,USAQUEN,"[4.742092413856286, -74.02782483459404]",10.5,4342,22,$ 220.931
15,TUNJUELITO,"[4.574841398493447, -74.13598945142014]",12.0,1509,4,$ 143.390
16,BOSA,"[4.621779959835884, -74.19438893446508]",12.0,3890,4,$ 50.000
17,PUENTE ARANDA,"[4.616245470318945, -74.111580233529]",12.0,3123,4,$ 120.946

In [29]:
df_Hmean =df_hoteles.groupby(['LOCALIDAD']).mean().reset_index()[['LOCALIDAD', 'Precio Total']]
df_Hmean.columns = ['name', 'Hotel_mean_price']

In [30]:
df_Hmean.head(5)

             name  Hotel_mean_price
0  ANTONIO NARIÑO     337271.000000
1  BARRIOS UNIDOS     168477.625000
2            BOSA      50000.000000
3      CANDELARIA     107004.500000
4       CHAPINERO     293346.396226

In [31]:
df_result = df_kpis.merge(df_Hmean, left_on='name', right_on='name')
df_result.head(5)

,name,center_coordinates,zoom,kpi_crime,number_of_touristic_attractions,Hotel_mean_price_x,Hotel_mean_price_y
0,CIUDAD BOLIVAR,"[4.482460265935783, -74.16195890440652]",10.0,3137,2,$ 84.382,84382.5
1,SUBA,"[4.763208121309928, -74.0758452755469]",10.5,6640,15,$ 199.249,199248.6
2,RAFAEL URIBE URIBE,"[4.566476900860273, -74.11336318293525]",12.0,2428,0,$ 164.493,164493.0
3,KENNEDY,"[4.6303473513560895, -74.15266762383382]",12.0,7187,11,$ 180.241,180241.0
4,LOS MARTIRES,"[4.607155934954456, -74.08794786812679]",13.0,2549,16,$ 199.535.,199535.0

In [32]:
df_result['Hotel_mean_price'].mean()

KeyError: 'Hotel_mean_price'

In [33]:
df_recomendacion = pd.read_csv('./data-cleaned/localidades_properties.csv')
df_recomendacion

,Unnamed: 0,name,center_coordinates,zoom,kpi_crime,number_of_touristic_attractions,Hotel_mean_price
0,0,CIUDAD BOLIVAR,"[4.482460265935783, -74.16195890440652]",10.0,3137,2,$ 84.382
1,1,SUBA,"[4.763208121309928, -74.0758452755469]",10.5,6640,15,$ 199.249
2,2,RAFAEL URIBE URIBE,"[4.566476900860273, -74.11336318293525]",12.0,2428,0,$ 164.493
3,3,KENNEDY,"[4.6303473513560895, -74.15266762383382]",12.0,7187,11,$ 180.241
4,4,LOS MARTIRES,"[4.607155934954456, -74.08794786812679]",13.0,2549,16,$ 199.535.
5,5,SANTA FE,"[4.593972728724716, -74.0362175815148]",11.5,3099,92,$ 123.896
6,6,BARRIOS UNIDOS,"[4.669566933458008, -74.07355160510068]",12.0,2706,13,$ 168.478
7,7,FONTIBON,"[4.678182925952192, -74.14015130074624]",12.0,4128,21,$ 195.151
8,8,ENGATIVA,"[4.701125563272901, -74.113187703298]",11.0,6709,10,$ 195.121
9,9,CANDELARIA,"[4.596605075136378, -74.07207079532802]",13.0,561,113,$ 107.004
10,10,CHAPINERO,"[4.644982720078637, -74.03688302787386]",11.5,4824,41,$ 293.346
11,11,ANTONIO NARIÑO,"[4.588770674796082, -74.10284240061449]",12.0,1519,2,$ 337.271
12,12,TEUSAQUILLO,"[4.641173586592107, -74.08576901958143]",12.0,3196,49,$ 196.588
13,13,SAN CRISTOBAL,"[4.548749008988841, -74.06607256050648]",11.5,2005,8,$ 154.538
14,14,USAQUEN,"[4.742092413856286, -74.02782483459404]",10.5,4342,22,$ 220.931
15,15,TUNJUELITO,"[4.574841398493447, -74.13598945142014]",12.0,1509,4,$ 143.390
16,16,BOSA,"[4.621779959835884, -74.19438893446508]",12.0,3890,4,$ 50.000
17,17,PUENTE ARANDA,"[4.616245470318945, -74.111580233529]",12.0,3123,4,$ 120.946

In [34]:
values = [[0, 27, 187],
        [1, 27, 481],
        [2, 50, 321],
        [3, 200, 1500],
        [4, 67, 427],
        [5, 67, 481],
        [6, 107, 1500],
        [7, 30, 267]]

nueva_fila = {'GRUPOS':[],
              'Value':[],
              'Count':[]}

for datos in values:
    nueva_fila['GRUPOS'].append(datos[0])
    nueva_fila['Value'].append('Suelen llevar de ' + str(datos[1]) + ' a ' + str(datos[2]) + ' dolares')
    nueva_fila['Count'].append([datos[1], datos[2]])

In [ ]:
#pd.concat([df_recomendacion, pd.DataFrame(nueva_fila)], axis=0).reset_index(drop=True).to_csv('./data-cleaned/atractivos_x_k.csv', index=False)

In [35]:
df_recomendacion = df_recomendacion.append(nueva_fila, ignore_index=True)

/var/folders/lx/v2m158qs2qz1hx8n23sq0ypw0000gn/T/ipykernel_88912/2296723417.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_recomendacion = df_recomendacion.append(nueva_fila, ignore_index=True)

In [36]:
df_recomendacion

,Unnamed: 0,name,center_coordinates,zoom,kpi_crime,number_of_touristic_attractions,Hotel_mean_price,Count,GRUPOS,Value
0,0.0,CIUDAD BOLIVAR,"[4.482460265935783, -74.16195890440652]",10.0,3137.0,2.0,$ 84.382,NaN,NaN,NaN
1,1.0,SUBA,"[4.763208121309928, -74.0758452755469]",10.5,6640.0,15.0,$ 199.249,NaN,NaN,NaN
2,2.0,RAFAEL URIBE URIBE,"[4.566476900860273, -74.11336318293525]",12.0,2428.0,0.0,$ 164.493,NaN,NaN,NaN
3,3.0,KENNEDY,"[4.6303473513560895, -74.15266762383382]",12.0,7187.0,11.0,$ 180.241,NaN,NaN,NaN
4,4.0,LOS MARTIRES,"[4.607155934954456, -74.08794786812679]",13.0,2549.0,16.0,$ 199.535.,NaN,NaN,NaN
5,5.0,SANTA FE,"[4.593972728724716, -74.0362175815148]",11.5,3099.0,92.0,$ 123.896,NaN,NaN,NaN
6,6.0,BARRIOS UNIDOS,"[4.669566933458008, -74.07355160510068]",12.0,2706.0,13.0,$ 168.478,NaN,NaN,NaN
7,7.0,FONTIBON,"[4.678182925952192, -74.14015130074624]",12.0,4128.0,21.0,$ 195.151,NaN,NaN,NaN
8,8.0,ENGATIVA,"[4.701125563272901, -74.113187703298]",11.0,6709.0,10.0,$ 195.121,NaN,NaN,NaN
9,9.0,CANDELARIA,"[4.596605075136378, -74.07207079532802]",13.0,561.0,113.0,$ 107.004,NaN,NaN,NaN
10,10.0,CHAPINERO,"[4.644982720078637, -74.03688302787386]",11.5,4824.0,41.0,$ 293.346,NaN,NaN,NaN
11,11.0,ANTONIO NARIÑO,"[4.588770674796082, -74.10284240061449]",12.0,1519.0,2.0,$ 337.271,NaN,NaN,NaN
12,12.0,TEUSAQUILLO,"[4.641173586592107, -74.08576901958143]",12.0,3196.0,49.0,$ 196.588,NaN,NaN,NaN
13,13.0,SAN CRISTOBAL,"[4.548749008988841, -74.06607256050648]",11.5,2005.0,8.0,$ 154.538,NaN,NaN,NaN
14,14.0,USAQUEN,"[4.742092413856286, -74.02782483459404]",10.5,4342.0,22.0,$ 220.931,NaN,NaN,NaN
15,15.0,TUNJUELITO,"[4.574841398493447, -74.13598945142014]",12.0,1509.0,4.0,$ 143.390,NaN,NaN,NaN
16,16.0,BOSA,"[4.621779959835884, -74.19438893446508]",12.0,3890.0,4.0,$ 50.000,NaN,NaN,NaN
17,17.0,PUENTE ARANDA,"[4.616245470318945, -74.111580233529]",12.0,3123.0,4.0,$ 120.946,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[[27, 187], [27, 481], [50, 321], [200, 1500],...","[0, 1, 2, 3, 4, 5, 6, 7]","[Suelen llevar de 27 a 187 dolares, Suelen lle..."

In [40]:
results_df = pd.read_csv('./data-cleaned/atractivos_x_k.csv')
results_df[results_df['GRUPOS']==0]['Value'].to_list()

['cuales Centros comerciales: GRAN ESTACION',
 'cuales Centros comerciales: ANDINO',
 'cuales Centros comerciales: CENTRO MAYOR',
 'cuales Zonas de la ciudad: CENTRO',
 'cuales Centros comerciales: TITAN',
 'Suelen llevar de 27 a 187 dolares']