In [4]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("./data-cleaned/scattermap_points.csv", index_col=0)

In [5]:
df.head()

,Unnamed: 0,name,localidad,latitude,longitude,type,color
0,0,Andino,CHAPINERO,4.666848,-74.052573,Centro Comercial,#35BEAD
1,1,Apolo,SANTA FE,4.603366,-74.074394,Centro Comercial,#35BEAD
2,2,Asturias de Oviedo,MUNICIPIOS ALEDAÑOS,4.820529,-74.074463,Centro Comercial,#35BEAD
3,3,Avenida 19,SANTA FE,4.606337,-74.073560,Centro Comercial,#35BEAD
4,4,Bahia,SUBA,4.707418,-74.070902,Centro Comercial,#35BEAD

In [23]:
df['color'].replace({'#35BEAD':'#5c059e'}, inplace=True)

In [24]:
df['color'].unique()

array(['#5c059e', '#EB0064', '#00B4EB'], dtype=object)

In [11]:
df['color'].unique()

array(['#35BEAD', '#EB0064', '#00B4EB'], dtype=object)

In [10]:
#df.to_csv("./data-cleaned/scattermap_points.csv", index=False)

# This part is to make the changes and add the hotels

In [17]:
df_hoteles = pd.read_excel("./data/extracción.xlsx")
df_scatter = pd.read_csv("./data-cleaned/scattermap_points.csv", index_col=0)
df_scatter = df_scatter.reset_index(drop=True)

In [15]:
df_scatter.head(5)

,name,localidad,latitude,longitude,type,color
0,Andino,CHAPINERO,4.666848,-74.052573,Centro Comercial,#5c059e
1,Apolo,SANTA FE,4.603366,-74.074394,Centro Comercial,#5c059e
2,Asturias de Oviedo,MUNICIPIOS ALEDAÑOS,4.820529,-74.074463,Centro Comercial,#5c059e
3,Avenida 19,SANTA FE,4.606337,-74.073560,Centro Comercial,#5c059e
4,Bahia,SUBA,4.707418,-74.070902,Centro Comercial,#5c059e

In [18]:
df_hoteles.head(5)

,Precio Total,Total Reseñas,Dirección,Servicios,Caracteristicas Habitación,Estrellas,Calificación Gen,Cal ubicacion,Cal limpieza,Cal servicio,Cal Calidad,LATITUDE,LONGITUDE,LOCALIDAD,Nombre hoteles
0,783062.0,1335.0,"Calle 24A # 57-60, Bogotá 111321 Colombia",Estacionamiento gratis ; Internet de alta velo...,Estacionamiento gratis ; Internet de alta velo...,4.0,5.0,4.5,5.0,4.5,4.5,4.645491,-74.101017,TEUSAQUILLO,1. Grand Hyatt Bogotá
1,339502.0,374.0,"Carrera 13a #93-51, Bogotá 110221 Colombia",Estacionamiento gratis ; Internet de alta velo...,Estacionamiento gratis ; Internet de alta velo...,4.5,5.0,5.0,5.0,5.0,4.5,4.672252,-74.052750,CHAPINERO,2. 93 Luxury Suites & Residences
2,290818.0,488.0,"Carrera 82 # 25G 84, Bogotá 110931 Colombia",Estacionamiento gratis ; Internet de alta velo...,Estacionamiento gratis ; Internet de alta velo...,3.5,4.5,4.5,5.0,4.5,4.5,4.673258,-74.117432,FONTIBON,3. Hilton Garden Inn Bogota Airport
3,200533.0,925.0,"Avenida 15 # 103-60, Bogotá 110111 Colombia",Estacionamiento gratis ; Internet de alta velo...,Estacionamiento gratis ; Internet de alta velo...,4.5,4.5,4.0,4.5,4.5,4.0,4.690528,-74.045960,USAQUEN,4. Hotel Dann Carlton Bogota
4,187740.0,1216.0,"Avenida Calle 24, #51 40, Bogotá 111321-251 Co...",Estacionamiento gratis ; Internet de alta velo...,Estacionamiento gratis ; Internet de alta velo...,4.0,4.5,4.5,4.5,4.5,4.5,4.649071,-74.105968,TEUSAQUILLO,5. TRYP by Wyndham Bogota Embajada

In [23]:
df_hotelesscatter = pd.concat([df_hoteles['Nombre hoteles'], 
                        df_hoteles['LOCALIDAD'], 
                        df_hoteles['LATITUDE'], 
                        df_hoteles['LONGITUDE']], 
                        axis=1)

In [24]:
df_hotelesscatter['type'] = 'Hotel'
df_hotelesscatter['color'] = '#6ee314'

In [31]:
df_hotelesscatter.columns = df_scatter.columns

In [34]:
df_hotelesscatter
df_result = pd.concat([df_scatter, df_hotelesscatter], axis=0)
df_result = df_result.reset_index(drop=True)

In [38]:
df_result['latitude'] = pd.to_numeric(df_result['latitude'])
df_result['longitude'] = pd.to_numeric(df_result['longitude'])

In [50]:
#df_result.to_csv('./data-cleaned/scattermap_points.csv')

In [41]:
df_result

,name,localidad,latitude,longitude,type,color
0,Andino,CHAPINERO,4.666848,-74.052573,Centro Comercial,#5c059e
1,Apolo,SANTA FE,4.603366,-74.074394,Centro Comercial,#5c059e
2,Asturias de Oviedo,MUNICIPIOS ALEDAÑOS,4.820529,-74.074463,Centro Comercial,#5c059e
3,Avenida 19,SANTA FE,4.606337,-74.073560,Centro Comercial,#5c059e
4,Bahia,SUBA,4.707418,-74.070902,Centro Comercial,#5c059e
...,...,...,...,...,...,...
975,176. Hotel Risot,TEUSAQUILLO,4.639370,-74.098619,Hotel,#6ee314
976,177. Hotel Grand Plaza Corferias,TEUSAQUILLO,4.631063,-74.094966,Hotel,#6ee314
977,178. Hotel Blue Zafiro,TEUSAQUILLO,4.625811,-74.084476,Hotel,#6ee314
978,179. Ayenda 1024 Agora Inn,TEUSAQUILLO,4.634864,-74.095978,Hotel,#6ee314
979,180. Hotel Ejecutivo Esperanza,TEUSAQUILLO,4.644889,-74.102526,Hotel,#6ee314

In [43]:
df_result['localidad'].unique()

array(['CHAPINERO', 'SANTA FE', 'MUNICIPIOS ALEDAÑOS', 'SUBA',
       'TEUSAQUILLO', 'SAN CRISTOBAL', 'KENNEDY', 'PUENTE ARANDA',
       'USAQUEN', 'CANDELARIA', 'ANTONIO NARIÑO', 'ENGATIVA',
       'TUNJUELITO', 'LOS MARTIRES', 'FONTIBON', 'BARRIOS UNIDOS', 'BOSA',
       'USME', 'CIUDAD BOLIVAR', 'SUMAPAZ', 'RAFAEL URIBE URIBE', nan],
      dtype=object)

In [48]:
list(df_result['localidad'].unique())

['CHAPINERO',
 'SANTA FE',
 'MUNICIPIOS ALEDAÑOS',
 'SUBA',
 'TEUSAQUILLO',
 'SAN CRISTOBAL',
 'KENNEDY',
 'PUENTE ARANDA',
 'USAQUEN',
 'CANDELARIA',
 'ANTONIO NARIÑO',
 'ENGATIVA',
 'TUNJUELITO',
 'LOS MARTIRES',
 'FONTIBON',
 'BARRIOS UNIDOS',
 'BOSA',
 'USME',
 'CIUDAD BOLIVAR',
 'SUMAPAZ',
 'RAFAEL URIBE URIBE',
 nan]

In [46]:
df_result[df_result['localidad'].isna()]

,name,localidad,latitude,longitude,type,color
859,60. Four Seasons Hotel Casa Medina Bogota,NaN,4.828989,-74.030184,Hotel,#6ee314

In [49]:
df_result.loc[859, 'localidad'] = 'CHAPINERO'
df_result.loc[859, 'latitude'] = 4.652463
df_result.loc[859, 'longitude'] = -74.056494

In [53]:
df_hoteles[df_hoteles['Nombre hoteles'] == '60. Four Seasons Hotel Casa Medina Bogota']

,Precio Total,Total Reseñas,Dirección,Servicios,Caracteristicas Habitación,Estrellas,Calificación Gen,Cal ubicacion,Cal limpieza,Cal servicio,Cal Calidad,LATITUDE,LONGITUDE,LOCALIDAD,Nombre hoteles
59,1227125.0,631.0,"Avenida Carrera 7 #69A-22 Cundinamarca, Bogotá...",Estacionamiento con servicio de valet ; Intern...,Estacionamiento con servicio de valet ; Intern...,5.0,4.5,4.5,5.0,4.5,4.5,4.828989,-74.030184,NaN,60. Four Seasons Hotel Casa Medina Bogota

In [56]:
df_hoteles.loc[59, 'LOCALIDAD'] = 'CHAPINERO'
df_hoteles.loc[59, 'LATITUDE'] = 4.652463
df_hoteles.loc[59, 'LONGITUDE'] = -74.056494

In [57]:
df_hoteles[df_hoteles['Nombre hoteles'] == '60. Four Seasons Hotel Casa Medina Bogota']

,Precio Total,Total Reseñas,Dirección,Servicios,Caracteristicas Habitación,Estrellas,Calificación Gen,Cal ubicacion,Cal limpieza,Cal servicio,Cal Calidad,LATITUDE,LONGITUDE,LOCALIDAD,Nombre hoteles
59,1227125.0,631.0,"Avenida Carrera 7 #69A-22 Cundinamarca, Bogotá...",Estacionamiento con servicio de valet ; Intern...,Estacionamiento con servicio de valet ; Intern...,5.0,4.5,4.5,5.0,4.5,4.5,4.652463,-74.056494,CHAPINERO,60. Four Seasons Hotel Casa Medina Bogota

In [58]:
#df_hoteles.to_excel("./data/extracción.xlsx", index=False)

In [65]:
df_kpis = pd.read_csv('./data-cleaned/localidades_properties.csv', index_col=0)

In [66]:
df_kpis

,name,center_coordinates,zoom,kpi_crime,number_of_touristic_attractions
0,CIUDAD BOLIVAR,"[4.482460265935783, -74.16195890440652]",10.0,3137,2
1,SUBA,"[4.763208121309928, -74.0758452755469]",10.5,6640,15
2,RAFAEL URIBE URIBE,"[4.566476900860273, -74.11336318293525]",12.0,2428,0
3,KENNEDY,"[4.6303473513560895, -74.15266762383382]",12.0,7187,11
4,USME,"[4.390025128368803, -74.14280649581936]",10.0,1443,11
5,LOS MARTIRES,"[4.607155934954456, -74.08794786812679]",13.0,2549,16
6,SANTA FE,"[4.593972728724716, -74.0362175815148]",11.5,3099,92
7,BARRIOS UNIDOS,"[4.669566933458008, -74.07355160510068]",12.0,2706,13
8,FONTIBON,"[4.678182925952192, -74.14015130074624]",12.0,4128,21
9,ENGATIVA,"[4.701125563272901, -74.113187703298]",11.0,6709,10
10,CANDELARIA,"[4.596605075136378, -74.07207079532802]",13.0,561,113
11,CHAPINERO,"[4.644982720078637, -74.03688302787386]",11.5,4824,41
12,ANTONIO NARIÑO,"[4.588770674796082, -74.10284240061449]",12.0,1519,2
13,TEUSAQUILLO,"[4.641173586592107, -74.08576901958143]",12.0,3196,49
14,SUMAPAZ,"[4.036568747869632, -74.25697871800469]",9.0,1,2
15,SAN CRISTOBAL,"[4.548749008988841, -74.06607256050648]",11.5,2005,8
16,USAQUEN,"[4.742092413856286, -74.02782483459404]",10.5,4342,22
17,TUNJUELITO,"[4.574841398493447, -74.13598945142014]",12.0,1509,4
18,BOSA,"[4.621779959835884, -74.19438893446508]",12.0,3890,4
19,PUENTE ARANDA,"[4.616245470318945, -74.111580233529]",12.0,3123,4

In [68]:
df_Hmean =df_hoteles.groupby(['LOCALIDAD']).mean().reset_index()[['LOCALIDAD', 'Precio Total']]
df_Hmean.columns = ['name', 'Hotel_mean_price']

In [69]:
df_Hmean.head(5)

             name  Hotel_mean_price
0  ANTONIO NARIÑO     337271.000000
1  BARRIOS UNIDOS     168477.625000
2            BOSA      50000.000000
3      CANDELARIA     107004.500000
4       CHAPINERO     293346.396226

In [71]:
df_result = df_kpis.merge(df_Hmean, left_on='name', right_on='name')
df_result.head(5)

,name,center_coordinates,zoom,kpi_crime,number_of_touristic_attractions,Hotel_mean_price
0,CIUDAD BOLIVAR,"[4.482460265935783, -74.16195890440652]",10.0,3137,2,84382.5
1,SUBA,"[4.763208121309928, -74.0758452755469]",10.5,6640,15,199248.6
2,RAFAEL URIBE URIBE,"[4.566476900860273, -74.11336318293525]",12.0,2428,0,164493.0
3,KENNEDY,"[4.6303473513560895, -74.15266762383382]",12.0,7187,11,180241.0
4,LOS MARTIRES,"[4.607155934954456, -74.08794786812679]",13.0,2549,16,199535.0

In [73]:
df_result['Hotel_mean_price'].mean()

174142.33874152336

In [9]:
df_recomendacion = pd.read_csv('./data-cleaned/atractivos_x_k.csv')
df_recomendacion.head()

   GRUPOS                                      Value  Count
0       0  cuales Centros comerciales: GRAN ESTACION     39
1       0         cuales Centros comerciales: ANDINO     30
2       0   cuales Centros comerciales: CENTRO MAYOR     22
3       0          cuales Zonas de la ciudad: CENTRO     22
4       0          cuales Centros comerciales: TITAN     18

In [20]:
values = [[0, 27, 187],
        [1, 27, 481],
        [2, 50, 321],
        [3, 200, 1500],
        [4, 67, 427],
        [5, 67, 481],
        [6, 107, 1500],
        [7, 30, 267]]

nueva_fila = {'GRUPOS':[],
              'Value':[],
              'Count':[]}

for datos in values:
    nueva_fila['GRUPOS'].append(datos[0])
    nueva_fila['Value'].append('Suelen llevar de ' + str(datos[1]) + ' a ' + str(datos[2]) + ' dolares')
    nueva_fila['Count'].append([datos[1], datos[2]])

In [25]:
#pd.concat([df_recomendacion, pd.DataFrame(nueva_fila)], axis=0).reset_index(drop=True).to_csv('./data-cleaned/atractivos_x_k.csv', index=False)

In [7]:
df_recomendacion = df_recomendacion.append(nueva_fila, ignore_index=True)

/tmp/ipykernel_28112/2296723417.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_recomendacion = df_recomendacion.append(nueva_fila, ignore_index=True)

In [8]:
df_recomendacion

,GRUPOS,Value,Count,0
0,0.0,cuales Centros comerciales: GRAN ESTACION,39.0,NaN
1,0.0,cuales Centros comerciales: ANDINO,30.0,NaN
2,0.0,cuales Centros comerciales: CENTRO MAYOR,22.0,NaN
3,0.0,cuales Zonas de la ciudad: CENTRO,22.0,NaN
4,0.0,cuales Centros comerciales: TITAN,18.0,NaN
5,1.0,cuales Centros comerciales: GRAN ESTACION,47.0,NaN
6,1.0,cuales Centros comerciales: ANDINO,29.0,NaN
7,1.0,cuales Zonas de la ciudad: CANDELARIA,27.0,NaN
8,1.0,cuales Zonas de la ciudad: CENTRO,22.0,NaN
9,1.0,cuales Restaurantes: CREPES,11.0,NaN
10,2.0,cuales Centros comerciales: CENTRO MAYOR,31.0,NaN
11,2.0,cuales Zonas de la ciudad: CENTRO,30.0,NaN
12,2.0,cuales iglesias: MONSERRATE,30.0,NaN
13,2.0,cuales Centros comerciales: GRAN ESTACION,25.0,NaN
14,2.0,cuales Zonas de la ciudad: CANDELARIA,21.0,NaN
15,3.0,cuales iglesias: MONSERRATE,36.0,NaN
16,3.0,cuales Centros comerciales: ANDINO,31.0,NaN
17,3.0,cuales Museos: ORO,31.0,NaN
18,3.0,cuales Zonas de la ciudad: CANDELARIA,25.0,NaN
19,3.0,cuales Centros comerciales: GRAN ESTACION,20.0,NaN
20,4.0,cuales Centros comerciales: ANDINO,47.0,NaN
21,4.0,cuales Zonas de la ciudad: CANDELARIA,44.0,NaN
22,4.0,cuales iglesias: MONSERRATE,37.0,NaN
23,4.0,cuales Centros comerciales: GRAN ESTACION,36.0,NaN
24,4.0,cuales Restaurantes: CREPES,29.0,NaN
25,5.0,cuales Centros comerciales: GRAN ESTACION,46.0,NaN
26,5.0,cuales iglesias: MONSERRATE,41.0,NaN
27,5.0,cuales Centros comerciales: ANDINO,37.0,NaN
28,5.0,cuales Zonas de la ciudad: CANDELARIA,33.0,NaN
29,5.0,cuales Centros comerciales: SANTA FE,27.0,NaN
30,6.0,cuales Centros comerciales: ANDINO,23.0,NaN
31,6.0,cuales Museos: ORO,22.0,NaN
32,6.0,cuales iglesias: MONSERRATE,13.0,NaN
33,6.0,cuales Centros comerciales: GRAN ESTACION,11.0,NaN
34,6.0,"cuales Región (Meta, Boyaca, Huila): VILLA DE ...",11.0,NaN
35,7.0,cuales Centros comerciales: GRAN ESTACION,27.0,NaN
36,7.0,cuales Zonas de la ciudad: CENTRO,19.0,NaN
37,7.0,cuales Centros comerciales: CENTRO MAYOR,16.0,NaN
38,7.0,cuales Centros comerciales: ANDINO,14.0,NaN
39,7.0,cuales Centros comerciales: SANTA FE,14.0,NaN
40,NaN,NaN,NaN,0
41,NaN,NaN,NaN,Desde 27 a 187 dolares
42,NaN,NaN,NaN,NaN